.root{
    fx-font-family: "Comic Sans MS Normal";
    -fx-background-color: #F0F4F8 ;
    -fx-alignment: center;
    -fx-background-radius: 100;
    -fx-padding: 25px;
    -fx-spacing: 10px;
}

.label{
    -fx-text-fill: #044E54;
}

#titleLabel{
    fx-font: bold 28px "Pacifico";
    -fx-padding: 0 0 40px 0;
}

#statusLabel{
    fx-font-size: 14px;
}

.button{
    fx-font-size: 16px;
    -fx-background-color : #dc4545;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 8px;
}


.button:hover{
    -fx-background-color: #ef7744;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-cursor: hand;
}
.button:pressed
{
    -fx-background-color : #9f6850;
}


.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


